<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Main Page</title>
<%= stylesheet_link_tag 'home' %>
</head>
<body>
    <div class="top-contents">
        <div class="welcome-box">
            <h2>Welcome Back</h2>
            <p class="top-username">
                <% if logged_in? %>
                    <%= current_user.name %>さん
                <% else %>
                    ユーザー名さん
                <% end %>
            </p>
            <p>今日も目標達成に向けて行動しましょう！</p>
        </div>
        <div class="user-box">
            <%= link_to(image_tag('usericon.png', alt: 'usericon', class: 'user-icon')) %>
            <p class="icon-username">
                <% if logged_in? %>
                    <%= current_user.name %> さん
                <% else %>
                    ユーザー名 さん
                <% end %>
            </p>
            <button class="button">View Profile</button>
            <button class="button">Edit Profile</button>
        </div>
    </div>
    <div class="goals">
        <div class="goal1">
            <h3>長期的目標</h3>
        </div>
        <div class="goal2">
            <h3>中期的目標</h3>
        </div>
    </div>
</body>
</html>
