<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>目標設定ページ</title>
    <%= stylesheet_link_tag 'progress' %>
    <%# <%= javascript_include_tag 'progress' %>
  </head>
  <body>
    ソート機能をつける予定
    <h1>現在進行している目標一覧</h1> <!-- 間で登録された目標が表示 -->
    <h2>長期的な目標</h2>
    <h2>中期的な目標</h2>
    <h4>なにをするのか</h4>
    <h4>なぜそれを行うのか</h4>
    <h4>現状どうなのか</h4>
    <h4>なぜそうなるのか</h4>
    <h4>ではなにをするのか</h4>
    <h4>優先順位</h4>
    <h4>期日</h4>
  </body>