<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>目標設定ページ</title>
    <%= stylesheet_link_tag 'progress' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <h1>目標設定確認ページ</h1>
      <ul class="tabs">
        <li><a href="#long">長期目標</a></li>
        <li><a href="#mid">中期目標</a></li>
      </ul>
      <div id="long">
        <% @long_term_goals.each do |long_goal| %>
          <h2><%= link_to long_goal.long_goal, long_goal_path(long_goal) %></h2>
        <% end %>
      </div>
      <div id="mid">
        <% @mid_term_goals.each do |mid_goal| %>
          <h2><%= link_to mid_goal.mid_goal, mid_goal_path(mid_goal) %></h2>
        <% end %>
      </div>
</div>
  </div>
</body>
</html>