<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>新規登録ページ</title>
    <%= stylesheet_link_tag 'signup' %>
    <%# <%= javascript_include_tag 'progress' %>
  </head>