.sidebar {
    width: 200px; /* サイドバーの幅 */
    position: fixed; /* 画面をスクロールしても固定 */
    height: 100%; /* 画面全体の高さ */
    background-color: #333; /* サイドバーの背景色 */
    color: white; /* テキスト色 */
    padding: 20px; /* 内側の余白 */
  }
  
  .app-icon img {
    width: 100%; /* アイコンのサイズ調整 */
    border-radius: 50%; /* アイコンを円形に */
    margin-bottom: 20px; /* 下の要素との間隔 */
  }
  
  .navigation-icons a {
    display: block; /* ブロック要素として表示 */
    margin-bottom: 10px; /* アイコン間の間隔 */
  }
  
  .navigation-icons img {
    width: 50px; /* ナビゲーションアイコンのサイズ */
    height: auto; /* アスペクト比を保持 */
  }
  

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
